body {
    font-family: sans-serif;
	word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}
table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
	min-width: 50px;
}
td {
	border: 1px solid #dddddd;
	padding: 10px;
}
.unsolved {
	color: pink;
}
.solved {
	color: lightgreen;
}